@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  // --primary-color: #2d414d;
  // --second-color: #c3ebe2;
  --lato: 'Lato', sans-serif;
}
